.input-text {
    width: 80%;
    height: 45px;
    border: 1px solid var(--color-blue);
    padding: 20px;
    border-radius: var(--border-radius-5);
}

.input-text:focus {
    outline: none;
}

@media screen and (max-width:320px) {
    .input-text {
        height: 40px;
    }
}